{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <link href="{% static 'calendar.css' %}" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
</head>
<body>
    <h1>SAAC Event Calendar</h1>
    <div id='calendar'></div>

    <div class="modal-overlay" id="modalOverlay">
        <div id="eventModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="modalTitle"></h2>
                <p id="modalDescription"></p>
                <p><strong>Subcommittee:</strong> <span id="modalSubcommittee"></span></p>
                <p><strong>Start:</strong> <span id="modalStart"></span></p>
                <p><strong>End:</strong> <span id="modalEnd"></span></p>
                <p><strong>Location:</strong> <span id="modalLocation"></span></p>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var modal = document.getElementById("eventModal");
            var modal_overlay = document.getElementById("modalOverlay");
            var span = document.getElementsByClassName("close")[0];

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth', // view calendar in month view
                fixedWeekCount: false, // only display weeks in the current month
                height: 'auto', // set auto height
                events: 'api/events', // get all events

                eventClick: function(info) {
                    // Prevent page from following link if URL provided
                    info.jsEvent.preventDefault();

                    // Fill in modal details
                    document.getElementById("modalTitle").innerText = info.event.title;
                    document.getElementById("modalDescription").innerText = info.event.extendedProps.desc;
                    document.getElementById("modalSubcommittee").innerText = info.event.extendedProps.subc;
                    document.getElementById("modalStart").innerText = info.event.start.toLocaleString();
                    document.getElementById("modalEnd").innerText = info.event.end.toLocaleString();
                    document.getElementById("modalLocation").innerText = info.event.extendedProps.loc;

                    // Show the modal
                    modal.style.display = "block";
                    modal_overlay.style.display = "flex";
                }
            });

            calendar.render();

            // Close the modal when the user clicks on 'x'
            span.onclick = function() {
                modal.style.display = "none";
                modal_overlay.style.display = "none";
            }

        });
    </script>
</body>
</html>
