{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <link href="{% static 'calendar.css' %}" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
</head>
<body>
    <h1>Event Calendar</h1>
    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth', // view calendar in month view
                showNonCurrentDates: false, // only display dates in the current month
                height: 'auto', // set auto height
                events: 'api/events' // get all events
            });

            calendar.render();
        });
    </script>
</body>
</html>
