<!DOCTYPE html>
<html>
<head>
    <title>SAAC Scheduling App</title>
</head>
<body>
    <h1>Welcome to my app</h1>
    <form action="{% url 'admin:index' %}">
        <button type="submit">Admin Login</button>
    </form>
    <p></p>
    <form action="{% url 'login' %}">
        <button type="submit">Login Page</button>
    </form>
    <p></p>
    <form action="{% url 'calendar' %}">
        <button type="submit">Calendar Page</button>
    </form>
    <ul>
        <p>hello</p>
        {% for event in events %}
            <li>{{ event.title }}: {{ event.description }}: {{ event.start }}: {{ event.subcommittee }}</li>
            <li>Start: {{ event.start }}</li>
            <li>End: {{ event.end }}</li>
        {% empty %}
            <li>No posts available</li>
        {% endfor %}
    </ul>
</body>
</html>
